.terminal-input {
  background-color: black;
  caret-color: white;
  color: white;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  width: 45rem;
}

@media (max-width: 600px) {
  .terminal-input {
    width: 15rem;
  }
}
